/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/*-------GRID--------*/
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.5rem;
}

/*-------HEADER----------*/
.header {
  background: #2b2b2b;
  position: relative;
}
/* .header .header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.header .header__nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.header .header__nav ul li {
  padding: 2rem 0;
}
.header .header__nav ul li:hover a {
  color: red;
}
.header .branding img {
  width: 10rem;
}

.header .branding h4 {
  color: #ffffff;
}
.header .header__nav {
  display: flex;
}
.header .burger__btn {
  display: none;
}
.header .burger__btn span {
  width: 2.5rem;
  height: 0.2rem;
  background-color: #ffffff;
  display: block;
  transition: 0.5s ease;
}

.header .header__nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

/*responsive for small screen desktops*/
@media screen and (max-width: 960px) {
  .header {
    background: green;
  }
}

/*responsive for tablet*/
@media screen and (max-width: 768px) {
  .header {
    background: red;
  }
}

/*responsive for mobile*/
@media screen and (max-width: 480px) {
  .header {
    background: #2b2b2b;
  }
  .header .header__nav {
    background: #2b2b2b;
    position: absolute;
    top: 9.5rem;
    right: -100rem;
    width: 100%;
    height: 100vh;
    transition: 0.5s ease;
  }
  .header .header__nav.open {
    right: 0;
    transition: 0.5s ease;
  }
  .header .burger__btn.open span:first-child {
    transform: translate(0, 0px) rotate(225deg);
    transition: 0.5s ease;
  }
  .header .burger__btn.open span:nth-child(2) {
    opacity: 0;
    transition: 0.5s ease;
  }
  .header .burger__btn.open span:last-child {
    transform: translate(0, -10px) rotate(-225deg);
    transition: 0.5s ease;
  }
  .header .header__nav ul {
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-top: 5rem;
  }
  .header .header__nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 600;
  }

  .header .header__nav ul li:hover {
    background: lightgray;
  }
  .header .header__nav ul li:hover a {
    color: red;
  }
  .header .burger__btn {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
}

/*BANNER*/
.banner {
  background: #ffffff;
  padding: 5rem 0;
}
.banner .banner__wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
}
.banner .banner__wrapper img {
  width: 100%;
}
.banner h1 {
  font-size: 7rem;
  color: red;
  font-weight: 600;
}
.banner h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #2b2b2b;
}
.banner p {
  text-align: justify;
}
.banner a {
  width: 200px;
}
@media screen and (max-width: 480px) {
  .banner .banner__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
  .banner img {
    display: none;
  }
  .banner h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
}
/*SERVICES*/
.services {
  padding: 5rem 0;
}
.services .services__item img {
  width: 10rem;
}
.services .services__item h4 {
  color: red;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.services .services__item p {
  color: #ffffff;
  text-align: justify;
  margin-bottom: 4rem;
}
.services .services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;
}
.services .services__item {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .services .services__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 5rem;
  }
  .services .services__item:not(first-child),
  .services .services__item:not(last-child) {
    margin: 5rem 0;
  }
}
/*PREVIOUS PROJECTS*/
.projects {
  padding: 5rem 0;
  background: #ffffff;
}
.projects h2 {
  color: red;
  font-size: 5rem;
  font-weight: 600;
}
.projects .projects__wrapper {
  margin-top: 8rem;
}
.projects .projects__item h3 {
  font-size: 3rem;
  font-weight: 600;
}
.projects .projects__item p {
  margin: 3rem 0;
  text-align: justify;
}
/* .projects .projects__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
} */

/*FOOTER*/
.footer {
  background: #2b2b2b;
  padding: 1rem 0;
}
.footer .footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.footer ul li a {
  color: gray;
}
.footer p {
  color: gray;
}
@media screen and (max-width: 480px) {
  .footer .footer__wrapper {
    flex-direction: column;
    gap: 3rem;
  }
}

/*-----------REPEATABLE PATTERNS--------------*/
.btn {
  display: inline-block;
  border: 1px solid transparent;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  text-align: center;
  background: transparent;
}
.btn.bg--red {
  background: red;
  color: #ffffff;
}
.btn.bg--red:hover {
  background: #2b2b2b;
}
.btn.bg--transparent {
  border: 1px solid #2b2b2b;
  color: #2b2b2b;
}
.btn.bg--transparent:hover {
  background: #2b2b2b;
  color: #ffffff;
}
.mt--3 {
  margin-top: 3rem;
}
.text--center {
  text-align: center;
}
.bg--dark {
  background: #2b2b2b;
}
.centerAll {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
